<h1>Listing Schools</h1>

<% @schools.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |school| %>
      <div class="col-md-4">
        <td><%= image_tag school.picture_url(:thumb) if school.picture? %></td>
        <h4><%= link_to school.name, school %></h4>
        <%= school.description %>
      </div>
    <% end %>
  </div>
<% end %>

